
/* 
TURN ON SASS
        sass --watch krajiny/css/albania.scss krajiny/css/albania.css
*/ 


/* FONTS and BOX MODEL */

/* TO DO: change font-sizes of headings and paragraphs, cleaning up the code

*/ 

html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    color: #222;
    font: 62.5%/1.5rem "Open Sans", sans-serif; // 62.5% font-size, 15px line-height
    margin: 0;
    scroll-behavior: smooth;
}
/* main title Albania */
h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 8rem;
    text-transform: uppercase;
    color: #05100b;
    padding-top: 3rem;
}
/* subtitle h2 */
h2 {
    font-weight: 3rem;
    color: #343434;
    font-weight: normal;
    line-height: 4rem;
    font-family: 'Playfair Display', serif;
    padding: 1rem 0;
}
// subtitle h3
h3 {
    // margin: 1rem 0 2.4rem 0;
    color: #343434; 
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Orienta", sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    padding: 1rem 0;
}

// paragraphs and lists
p, li {
    font-size: 1.2rem;
    line-height: 1.7;
}

// figcaption
figcaption {
    font-size: 1.2rem;
}

// lists
ul, li {
    display: block;
    list-style-type: none;
}


// section ul,
section li {
    display: list-item;
    list-style-type: square;
    padding: 0;
}

section li p.second {
    margin-top: 0.7rem;
}
// layout

main, .post-footer,
.pre-footer {
    padding: 0 20%;
    width: 100%;
    text-shadow: 0 2px 0 rgb(255 255 255/70%);
}

article {
    margin: 0 auto;
    width: 75%;
}

#full-article,
.post-footer,
.pre-footer,
footer {
    display: none;
}

.no-border {
    border: none;
    box-shadow: none;
}

.card-img-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


section.introduction {
    .container {
        width: 600px;
    }

    .row:first-child {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        figure {
            margin-top: 110px;
            margin-left: 100px;
            img {
                max-width: 344px;
                min-width: 344px;
            }

            figcaption {

                margin: 0 auto;
            }
        }
    }
}


// logo name and burger
.post-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
// Logo a - Train travel + active version

.post-header .logo a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .2s ease;

    &.active {
        color: #fff;
    }
}

// burger
.post-header .burger {
    height: 34px;
    width: 34px;
    position: relative;
    cursor: pointer;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        background: #000;
        display: block;
        transform: translate(-50%, -50%);
        transition: .2s ease;
        
        &::before,
        &::after {
            width: 30px;
            height: 2px;
            background: #000;
            content: "";
            position: absolute;
            display: block;
            transition: .2s ease;
        }
    }  
}

.post-header .burger span::before {
    top: -8px;
}

.post-header .burger span::after {
    bottom: -8px;
    width: 15px;
    margin-left: 15px;
}

.post-header .burger.active span {
    background: transparent;
}
.post-header .burger.active span::before {
    background: #fff;
    transform: rotate(45deg);
    top: 0;
}

.post-header .burger.active span::after {
    background: #fff;
    transform: rotate(-45deg);
    margin-left: 0;
    width: 30px;
    bottom: 0;
}

// Hero section - pictures on the left and title Albania


.page {
    display: flex;
}

.page-left {
    width: 40%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: .2s ease;

    &.hide {
            display: none;
            opacity: 0;
        }
    .carousel-cell {
        width: 100%;
        
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            display: block;
        }
    }
}

    // styling prev and next buttons
.flickity-prev-next-button {
    bottom: 10px;
    top: unset;
    width: 45px;
    height: 45px;
    transition: all .2s ease;
}

.flickity-prev-next-button.next {
    right: 20px
}
.flickity-prev-next-button.previous {
    left: unset;
    right: 100px;
}

.flickity-prev-next-button .flickity-button-icon {
    width: 45%;
    height: 45%;
    left: 26%;
    top: 26%
}
 // title section
.page-right {
    width: 100%;
    padding-left: 50%;

    .hero {
        padding: 60px 230px;
        display: flex;
        justify-content: space-between;

        .title {
            width: calc(100% - 100px);
            
        }
    }
}

// author wrap section
.page-right .user-wrap {
    padding: 50px 0 0 100px;
}

.page-right .user {
    display: flex;
    align-items: center;

    img {
        display: block;
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }

    .bio {
        font-weight: 600;
        padding-left: 20px;

        a {
            color: #000;
            text-decoration: none;
        }

        span {
            font-weight: normal;
            color: #555;
            font-size: 14px;
        }
    }
}


.page-right .text-wrap {
    padding: 50px 0 0 100px;
    width: 100%;

     p {
        color: #555;
        line-height: 1.7;
    }
}

.page-right .text {
    text-align: center;
    margin-top: 30px;
}



#read-more,
#show-less {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px auto;
    display: inline-block;
}



// slider item section

.page-right .slider-item {
    width: 300px;
}

.page-right .slider-item img {
    display: block;
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.menu {
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-200px);
    transition: .2s ease;
    position: fixed;
    left: 0px;

    ul {
        text-align: center;

        li {
            margin: 10px 0;

            a {
                color: rgb(192, 192, 192);
                font-size: 44px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;

                &:hover {
                    color: #fff;

                }
            }
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}


// .post-title {
//     font-size: 4em;
//     line-height: 3.5em;
//     font-family: 'Playfair Display', serif;
//     font-weight: 800;
//     letter-spacing: -2px;
//     margin: 0 0 0.3125em;
// }

.post-meta time:before {
    content: ' · ';
    font-style: normal;
}

.author {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0.1875em;

}

a {
    color: #555;
    text-decoration: none;
}

a:hover a:focus {
    text-decoration: underline;
}



.container-introduction {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.text-content {
        flex: 1;
        min-width: 350px;
        margin-right: 20px;
    }

.image-content {
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
}



nav {
    display: none;
}

// .container-picture>img {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     padding: 2.5rem;
//     width: 100%;
// }

// .container-picture p {
//     font-size: 0.8em;
// }


/* #navigation {
 float: left;
 height: 100%;
 margin-left: -110px;
 margin-top: 5px;
 margin-right: 10px;
 padding-left: 1%;
 padding-right: 1%;
 padding-top: 50px;
 width: 16%;
 text-align: left;
 font-family: "Open Sans", sans-serif;
 color: #333;
 background-color: #fff;
 border-radius: 10px;
 border-color: #888;
 border-width: thin;
 border-style: solid;

} */

/* #navigation h2 {
 font-family: "Open Sans",
  sans-serif;
 font-weight: 700;
 font-style: italic;
 margin-top: 11px;
 margin-bottom: 7px;
} */

/* #navigation p {
 display: block;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0px;
 margin-inline-end: 0px;
} */




article li,
section li  {
    list-style-type: square;
    padding-bottom: 0.5em;

}

/* FOOTER */

.post-footer {
    width: 75%;
    margin: 3em auto;
    clear: both;

    h2,h3, img {
        text-align: center;
    }
}

.post-footer>h3 {
    text-align: center;
    margin-bottom: 1.9444em;
}

.post-footer a {
    text-decoration: none;
}

.card img {
    height: 180px;
    width: 100%;
}





.aboutme h3 a {
    color: #222;
}



.statue {
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 344px;
}


.pre-footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.reviews {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    width: 900px;
    margin: 0 auto;
}

.reviews li {
    font-size: 14px;
    line-height: 24px;
    float: left;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    padding: 0 30px;
    padding-top: 10px;
}

.reviews li:before {
    content: '“';
    color: #bb3825;
    font-size: 60px;
    font-style: italic;
    position: absolute;
    top: 20px;
    left: 0;
}

.reviews blockquote {
    font-style: italic;
}

.review-byline {
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: 8px;
    font-size: 14px;
}

.reviews-byline::before {
    content: "-";
}

.global-footer {
    color: #787878;
    font-size: 14px;
    text-align: right;
    padding: 15px;
}

::selection {
    background: #ddd;
    color: #000;
    text-shadow: none;
}

.ferry {
    margin-top: 1px;
    margin-bottom: 2px;
    text-align: left;
    padding: 0px;
    margin-left: 3px;
}

.first {
    margin-top: -20px;
}

.bold {
    font-weight: bold;
}

.cursive {
    font-style: italic;
}

.eurostar {
    padding: 3px;
}

.first-class {
    text-align: left;
}

.larger {
    color: #555;
}

.statue a:hover {
    color: #ca0000;
}




div.row {
    margin-bottom: 20px;
}

p.link {
    line-height: 22px;
}

.row>p {
    padding-top: 0px;
}

.normal {
    font-weight: normal;
}

.report {
    border-bottom: 1px solid grey;
}


main p.hore {
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0;
}

a#hore {
    text-align: right;
}


.bullet {
    border-radius: 3px;
    margin-right: 5px;
    // margin-left: 5px;
    position: relative;
    top: 17px;

    box-shadow: none;
    border: white;
    width: 20px;
    height: 20px
}






.dash {
    text-align: center;
}

.group::before,
.group::after {
    content: " ";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    *zoom: 1;
}

.operation {
    text-align: right;
}

.top {
    line-height: 24px;
    font-size: 11px;
    background: rgba(255, 255, 255, 0.90);
    text-transform: uppercase;
    z-index: 9999;
    font-family: Cambria, Georgia, serif;
    box-shadow: 1px 0px 2px rgb(0 0 0/20%);
    position: relative;
}

.top a {
    padding: 0 10px;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
}


// .container {
//     width: 100%;
//     position: relative;
//     transition: all .5s;
// }

.london-tirane {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.london-tirane .left-side {
  position: fixed;
  top: 50px;
  left: 0px;
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px;
  border: 2px solid #f4f4f4;
  margin-left: 0;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;

  ul {
    list-style-type: none;
    padding: 0;

    li a {
        padding: 5px;
    }

    li a:hover {
        background-color: #ddd;
    }
  }
}

.london-tirane .right-side {
    width: 70%;
    margin-right: 0;
}




.shadow .big-margin {
    margin-left: 216px;
}

p.long {
    max-width: 45%;
    margin-left: 0;
    position: relative;
    left: 0;
}

p.center {
    text-align: center;
}

p.right {
    text-align: right;
}



.content-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 2.5rem 3rem;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: auto;
    margin-right: 5px;
}

.content-table tr th {
    background-color: #a10000;
    color: #fff;
    text-align: left;
    font-weight: bold;
    text-shadow: none;
    box-shadow: none;
    width: 100%;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
    background: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #a10000;
}

.table-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.content-table .table-subheading {
    background: inherit;
    color: inherit;
}


.bio {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 50%;
}

li img {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

/* ******************************** SIDEBAR *************************************** */

.sidebar {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: relative;
    left: -560px;
    width: 290px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
    float: left;
    top: -365px;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;

}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}



.sidebar ul li:hover a {
    padding-left: 50px;
}

.sidebar img {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    z-index: 1111;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 46px;
    font-size: 25px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 270px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~div.container {
    margin-left: 700px;
}







.photo-container {
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;

    a {
        display: block;
        justify-content: center;
        margin-left: 120px;
    }
}



.author-photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

// .photo img {
//     max-width: 50%;
//     object-fit: cover;    
// }

.description {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 0.9rem;
}

/* ***********************************ADAPTIVE ***************************************** */
@media screen and (max-width: 1000px) {

    body {
        width: 100%;
        padding: 0;
    }

    article {
        width: 100%;
    }

    article,
    article ul {
        padding-left: 35px;
        padding-right: 35px;
    }

    .logo a {
        width: 100%;
    }



    nav {
        display: none;
    }


    main h2 {
        font-size: 3rem;
    }

    main h3 {
        font-size: 2.5rem;
    }
}

.inline {
    margin-bottom: 0;
    padding-bottom: 0;
}

.update {
    margin-top: 12px;
}


@media screen and (max-width: 900px) {
    article {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }

    main h2 {
        font-size: 2rem }

    main h3 {
        font-size: 1.5rem;
    }

    img:not(.bullet) {
        float: none;
        width: 100%;
        display: block;
        margin: 10px;
    }

    .float-right {
        float: none;
        max-width: 60%;
    }


    .container-text {
        float: none;
        width: 100%;
    }

    .container-text p {
        text-align: left;
    }

    p.float-right {
        width: 100%;
        font-size: 95%;
        margin-top: 5px;
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    
    h2 {
        font-size: 1.7rem;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    h3 {
        font-size: 15px;
        margin-bottom: 0;
    }
    
    
    .post-footer {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .post-footer>h3 {
        display: none;
    }

    .post-footer h3,
    .post-footer p {
        margin-left: 0;
    }

    .global-footer {
        text-align: center;
    }

    .aboutme h3 {
        text-align: center;
        margin-left: 0;
    }

    article {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0 auto;
    }

     .container-introduction p {
        width: 50%;
        text-align: left;
        padding-right: 0;
    }

    .container-picture p.update {
        font-style: normal;
        display: block;
    }

    .table-wrapper {
        display: block;
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .post-meta time {
        display: block;
    }

    .written-by,
    .post-meta time::before {
        display: none;
    }
}
/* PHONES */
@media screen and (max-width: 400px) {

    main {
        overflow-x: hidden;
    }
    h2 {
        font-size: 1.4rem;
        line-height: 1.5;
        padding-bottom: 0;
        margin: 0;
        }
    
    h3 {
        font-size: 1.2rem;
        line-height: 1.5;
        margin: 0;
    }

    li, p, td {
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
    }

    main {
        padding: 0 1.5rem;
    }
    
    .second {
        margin-top: 1rem;
    }

    .row {
        display: block;
    }
    
    
    
    
    .logo {
        top: 10px;
    }

}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}